@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    ::-webkit-calendar-picker-indicator {
        @apply dark:invert
    }
}